body,
html {
  max-width: 1300px;
  margin: auto;
  background-color: #06081f !important;
}
hr {
  background-color: white;
}
.navbar {
  min-height: 80px;
  width: 100%;
}
#navigation {
  background-color: #1e2035;
  border-radius: 5px;
}

#search_container {
  margin: auto;
}
.nav-item {
  color: white;
  text-decoration: none;
  padding: 0px 5px 0px 5px;
  text-transform: capitalize;
  font-weight: 600;
}
#bar_and_icon,
#search_bar_input {
  background-color: #cfcfcf;
}
#search_bar_input {
  height: 30px;
  width: 80%;
}
#search_icon {
  margin-left: auto;
  margin-right: 10px;
}
#bar_and_icon {
  border-radius: 5px;
}
#links_container {
  display: inline-flex;
  text-align: center;
  align-items: center;
}
#links_container a {
  white-space: nowrap;
}
.navbar-collapse {
  display: inline-flex;
}

#overlay {
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  bottom: 100px;
  display: table;
  z-index: 1;
  height: 105px;
  transition: height 0.5s;
}
#overlay h1 {
  font-weight: bold;
  height: 100%;
  margin: 0;
  padding-left: 60px;
  vertical-align: middle; /*middle centred*/
  display: table-cell;
  transition: font-size 0.5s;
}
#carousel_container,
.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  max-height: 600px;
  position: relative;
}
#carousel_container {
  margin-top: 15px;
}
#free_champions_container ul {
  display: inline-flex;
}
@media (min-width: 992px) {
  #overlay {
    height: 140px;
  }
  #overlay h1 {
    font-size: 44px;
  }
}
/*  Medium Devices */
@media (max-width: 767px) {
  #search_container {
    margin: 0px;
    float: left;
  }
  #links_container {
    margin-left: auto;
    padding-right: 0px;
  }
  .navbar-collapse {
    margin-top: 20px;
  }
  #overlay {
    height: 80px;
    bottom: 80px;
  }
  #overlay h1 {
    font-size: 30px;
  }
}
/* Small Devices */
@media (max-width: 576px) {
  #search_icon {
    display: none;
  }
  #links_container {
    margin-right: 40px;
  }
  #overlay h1 {
    font-size: 24px;
  }
  #overlay {
    height: 70px;
    bottom: 60px;
  }
}
