@import "../../styles/variables.scss";
#champions_list {
  margin-top: 60px;

  #champion_link {
    text-align: center;

    padding: 10px;
    #img_container {
      position: relative;
      img {
        text-decoration: none;
        border: 2px solid transparent;
        display: block;
        margin: 0px auto;
        max-width: 100%;
      }
      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: background-color 1s ease;
        bottom: 0;
      }
    }
    #champion_name {
      color: $titleColor;
    }
    &:hover {
      text-decoration: none;
      #champion_name {
        font-weight: 500;
      }
      .overlay {
        background-color: rgba($color: #90bec2, $alpha: 0.25);
        border: 2px solid #90bec2;
      }
    }
  }
}
.row {
  justify-content: space-evenly;
}
