@import "../../styles/variables.scss";
#by_tier_container {
  margin-top: 50px;
  min-height: 1200px;
  h5 {
    color: $titleColor;
    font-weight: bold;
    font-family: $secondaryTitleFont;
    font-size: 24px;
  }
  hr {
    height: 1.5px;
    opacity: 0.25;
    border: 0px;
    background-image: linear-gradient(95deg, #1affff, transparent);
  }
}
//  font-family: 'Exo', sans-serif;
// font-family: 'Alegreya Sans', sans-serif;
// font-family: 'Alegreya Sans SC', sans-serif;
.showingTrue {
  display: block;
}
.showingFalse {
  display: none;
}

.row {
  padding-bottom: 20px;
  .ranked_emblem {
    &:hover {
      cursor: pointer;
    }
  }
  img {
    margin: auto;
    display: block;
    max-width: 75%;
  }
  h5 {
    text-align: center;
    font-family: "Laila", serif;
    color: $titleColor;
    font-weight: bold;
  }
}
